html,
body {
  background-image: url(/static/bg2.jpg);
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000;
  font-weight: bold;
  /* color: #0e0d0d; */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

h1 {
  display:inline-block;
  text-align: left;
  white-space:nowrap;
  font-size:20px;
  color: black;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display:inline-block;
  text-align: left;
  white-space: nowrap;
  font-size: 30px;
  color: rgb(65, 33, 194);
  margin-top: 5em;
  margin-bottom: 0.9em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
